*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.tronc{
    width: 100%;
    height: 100vh;
    background-color: #171520;
    /* overflow-y: hidden; */
}
/* barre de recheche "entete de page" en haut */
.menu{
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 1px solid #c2c0c034;
}
.src_conte{
    position: relative;
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
}
.page{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
#search{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #c2c0c034;
    color: #d9d8df;
    font-size: 18px;
}
.search-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    color: #171520;
    font-size: 20px;
    cursor: pointer;
}
#search:not(:placeholder-shown) + .search-icon{
    display: none;
}
/* menu à gauche */
.left{
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background:linear-gradient(180deg, #1b151f 20%, #131017 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.logo-img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.menu-item{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    gap: 20px;
    text-decoration: none;
    transition: all linear .8s ;
    border-left: 0px solid #ffffff1a;
    /* border-radius: 30px; */
}

.menu-item:hover{
    border-left: 2px solid #06e7d5d3;
    box-shadow: 0 0 10px rgba(6, 231, 212, 0.877);
}
.icon-menu{
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 20px;
}
.menu_name{
    font-size: 18px;
    text-transform: capitalize;
    font-size: 20px;
}
.profil{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #c2c0c034;
}
.profil-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.profil-name{
    color: #ffffff;
    font-size: 18px;
    text-overflow: ellipsis;
}
.first-name{
    color: #c2c0c034;
    font-size: 14px;
    font-weight: 400;
}
/* la place où l'on met les contenus de tout la page */

.right{
    width: 80%;
    height: 89vh;
    position: absolute;
    right: 0;
    top: 80px; /* pour laisser de l'espace pour la barre de recherche */
    overflow-x: hidden;
    padding: 20px;    
}
.content{
    width: 100%;
    height: 100%;
    background-color: #ffffff28;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    overflow-x: hidden;
}
